.page-footer-wrapper {
	background-color: $primary;
	color: $white;	
}

.page-footer {
	padding: 3rem 0;
}

.contact-details {
	list-style: none;
	margin: 0 0 5rem 0;

	li {
		margin-bottom: 10px;
	}
}

.registration_numbers {
	font-size: 80%;
	display: flex;
	margin: 2rem 0;

	dd, dt {
		margin: 0; 
	}
	dt {
		margin-right: 10px;
	}
	dd {
		margin-right: 20px;
	}

}