.page-footer-wrapper {
	background-color: $primary;
	color: $white;	
}

.page-footer {
	padding: 3rem 0;
}

.contact-details {
	list-style: none;
	margin: 0 0 5rem 0;

	li {
		margin-bottom: 10px;
	}
	a {
		color: $white !important;
	}
}

.registration_numbers {
	font-size: 80%;
	display: flex;
	margin: 3rem 0;

	dd, dt {
		margin: 0; 
	}
	dt {
		margin-right: 10px;
	}
	dd {
		margin-right: 20px;
	}

}

.footer-menu {
	list-style: none;
	margin: 2rem 0 0 0;
	padding: 1rem 0 0 0;
	display: flex;
	font-size: 80%;
	border-top: 1px solid $white;


	li {
		margin-right: 25px;

		a {
			color: $white;
		}
	}
}